# files to ignore
/*
!/.config/
/.config/*

# don't ignore these files
!.gitignore
!.gitconfig
!.vimrc
!.zshrc
!.p10k.zsh
!.hyper.js
!.zprofile

!/.config/fish/
!/.config/nvim/
!/.config/tmux/
!/.config/micro/
!/.config/htop/
!/.config/btop/
# !/.config/raycast/
# !/.config/kitty/
!/.config/helix/
!/.config/zed/
!/.config/alacritty/
!/.config/iterm2/
!/.config/starship.toml
